version: "3.9"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mongo_network

mongo-express:
  image: mongo-express
  container_name: mongo-express
  restart: always
  ports:
    - "8081:8081"
  environment:
    ME_CONFIG_MONGODB_SERVER: mongodb
    ME_CONFIG_MONGODB_PORT: 27017
    ME_CONFIG_MONGODB_ENABLE_ADMIN: true
    ME_CONFIG_MONGODB_AUTH_DATABASE: admin
    ME_CONFIG_MONGODB_ADMINUSERNAME: admin
    ME_CONFIG_MONGODB_ADMINPASSWORD: admin
    ME_CONFIG_BASICAUTH_USERNAME: admin
    ME_CONFIG_BASICAUTH_PASSWORD: admin
  networks:
    - mongo_network


volumes:
  mongo_data:

networks:
  mongo_network:
    driver: bridge
